<div class="container">
  <div class="text-center about-title">
    <h1 class="fw-bold my-5">About Loomi</h1>
    <p>
      Welcome to Loomi – your one-stop online shop for everything you need! At
      Loomi, we bring you a wide variety of quality products at great prices,
      all in one place. Our goal is to make your shopping easy, enjoyable, and
      safe – with fast delivery, secure payment, and friendly customer support.
      Shop smart, shop with Loomi – where great products are just a click away!
    </p>
  </div>
</div>
