/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "josefinsans";
  src: url("assets/fonts/josefinsans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "josefinsans", sans-serif;
}

.bg-beige {
  background-color: #a08972;
}

.bg-beige:hover {
  background-color: #a08972;
}

.bg-light-beige {
  background-color: #e1c9af;
}

.bg-light-beige:hover {
  background-color: #e7d6c0;
}

.cursor-pointer {
  cursor: pointer;
}