
<!-- Banner -->
<section class="hero-banner mb-5 d-flex align-items-center">
  <div class="hero-content text-center text-white">
    <h1 class="header">Welcome to Loomi</h1>
    <p>Discover our beautiful products</p>
    <button class="btn bg-beige btn-lg text-white" routerLink="/products">Shop Now</button>
  </div>
</section>

<!-- Categories -->
<div class="container">
  <div>
    <h3 class="fw-bold">Browse Our Hottest</h3>
    <h3 class="text-beige fw-bold mb-3">Categories</h3>
  </div>
  <div class="row justify-content-center">
     <div class="col-6 col-md-2">
       <div class="bg-light-beige cursor-pointer rounded" [routerLink] ='["/category", "beauty"]'>
         <img [src]="beautyImg" alt="eyeshadow-palette-with-mirror" class="img-fluid"/>
         <p class="fw-bold d-flex justify-content-center">Beauty</p>
       </div>
     </div>
     <div class="col-6 col-md-2">
       <div class="bg-light-beige cursor-pointer rounded" [routerLink] ='["/category", "fragrances"]'>
         <img [src]="fragrancesImg" alt="dior-j'adore" class="img-fluid"/>
         <p class="fw-bold d-flex justify-content-center">Fragrances</p>
       </div>
     </div>
     <div class="col-6 col-md-2">
       <div class="bg-light-beige cursor-pointer rounded" [routerLink] ='["/category", "skin-care"]'>
         <img [src]="skinCareImg" alt="attitude-super-leaves-hand-soap" class="img-fluid"/>
         <p class="fw-bold d-flex justify-content-center">Skin Care</p>
       </div>
     </div>
     <div class="col-6 col-md-2">
       <div class="bg-light-beige cursor-pointer rounded" [routerLink] ='["/category", "womens-jewellery"]'>
         <img [src]="womenJewelleryImg" alt="green-oval-earring" class="img-fluid"/>
         <p class="fw-bold d-flex justify-content-center">Jewellery</p>
       </div>
     </div>
     <div class="col-6 col-md-2">
       <div class="bg-light-beige cursor-pointer rounded" [routerLink] ='["/category", "womens-bags"]'>
         <img [src]="womenBagsImg" alt="blue-women's-handbag" class="img-fluid"/>
         <p class="fw-bold d-flex justify-content-center">Bags</p>
       </div>
     </div>
  </div>
</div>