.hero-banner {
  background-image: url("../../assets/imgs/hero banner.jpg");
  min-height: 600px;
  background-size: cover;
  background-position: center;
}

.hero-content {
  width: 100%;
  padding-right: 40%;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

.header {
  font-weight: bold;
  font-size: 3rem;
}
/* Mobile */
@media (max-width: 576px) {
  .hero-banner {
    min-height: 300px;
  }
  .header {
    font-size: 1.7rem;
  }
  .hero-content {
    padding: 5%;
  }
}

/* Tablet */
@media (min-width: 577px) and (max-width: 992px) {
  .hero-banner {
    min-height: 300px;
  }
  .header {
    font-size: 2rem;
  }
  .hero-content {
    padding-right: 40%;
  }
}
